<!-- <head>
  <link rel="stylesheet" href="../../public/stylesheet.css">
</head>
<div class="container">
  <h1 class="page-header">Reminders</h1>
<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }) %>
</ul>
</div>
<form method="GET" action="/socialshare">
  <button type="submit" class="btn btn-default btn-sm btn-social-share">Social Share</button>
</form> 
-->
<div class="container">
  <h1 class="page-header">Reminders</h1>

  <ul class="list-group">
    <% reminders.forEach(function (reminderItem) { %>
      <li class="list-group-item">
        <strong><%= reminderItem.title %>: </strong>
        <%= reminderItem.description %>
        Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="badge badge-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="badge badge-danger">False</span>
        <% } %>
        <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      </li>
    <% }) %>
  </ul>

  <h2 class="page-header">Friends:</h2>
  <% if (friends.length > 0) { %>
    <% friends.forEach(function(friend) { %>
      <h3><%= friend.name %></h3>
      <ul class="list-group">
        <% friend.reminders.forEach(function(reminderItem) { %>
          <li class="list-group-item">
            <strong><%= reminderItem.title %>: </strong>
            <%= reminderItem.description %>
            Completed:
            <% if (reminderItem.completed == true) { %>
              <span class="badge badge-success">True</span>
            <% } else if (reminderItem.completed == false) { %>
              <span class="badge badge-danger">False</span>
            <% } %>
          </li>
        <% }) %>
      </ul>
    <% }) %>
  <% } else { %>
    <p>No friends to show.</p>
  <% } %>

  <form method="POST" action="/reminder/socialshare">
  </form>
  <a href="/socialshare">Social Share</a>
</div>