<div class="container">
  <h1 class="page-header">Reminders</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <h1><strong><%= reminderItem.title %> </strong></h1>
      <h4><%= reminderItem.description %></h4>
      <h4>Completed:
        <% if (reminderItem.completed == true) { %>
          <span class="label label-success">True</span>
        <% } else if (reminderItem.completed == false) { %>
          <span class="label label-danger">False</span>
        <% } %>
      </h4>
      <h4>Date: <%= reminderItem.date %></h4>
      <div class="form-group-hello">
        <label for="tags">Tags:</label>
        <div class="tags-container">
          <% if (reminderItem.tags && reminderItem.tags.length > 0) { %>
            <% for (let tag of reminderItem.tags) { %>
              <span class="badge badge-primary"><%= tag %></span>
            <% } %>
          <% } else { %>
            <em>No tags yet</em>
          <% } %>
        </div>
      </div>      
      <div class="form-group">
        <ul>
          <li><label for="subtasks">Subtasks:</label></li>
          <% if (reminderItem.subtasks && reminderItem.subtasks.length > 0) { %>
            <% for (let subtask of reminderItem.subtasks) { %>
              <li><%= subtask %></li>
            <% } %>
          <% } else { %>
            <li><em>No subtasks yet</em></li>
          <% } %>                 
        </ul>
      </div>      
      <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>
      <form class="deleteForm" method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </li>
  </ul>
</div>


